.playlistTitle__col {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #696969;
    text-transform: uppercase;
  }
  
  .col01 {
    width: 447px;
  }
  
  .col02 {
    width: 321px;
  }
  
  .col03 {
    width: 245px;
  }
  
  .col04 {
    width: 60px;
    text-align: end;
  }