.filter__dropdown {
    background: #313131;
    border-radius: 12px;
    padding: 34px;
    min-width: 248px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .filter__list {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 28px;
    max-height: 237px;
    overflow-y: auto;
    padding-right: 10px;
  }
  
  .filter__list::-webkit-scrollbar {
    width: 4px;
  }
  
  .filter__list::-webkit-scrollbar-track {
    background-color: #4b4949;
  }
  
  .filter__list::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 2px;
  }

  .filter__item {
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .filter__item:hover {
    color: #b672ff;
    text-decoration: underline;
  }