/* .trackPlay__likeDis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 26%;
  } */
  
  /* .btn-text {
    &:hover {
      border-color: #d9b6ff;
      color: #d9b6ff;
      cursor: pointer;
    }
    &:active {
      border-color: #ad61ff;
      color: #ad61ff;
      cursor: pointer;
    }
  } */